.outline-link:hover,
.outline-link.active {
    color: var(--vp-c-brand) !important;
}

.edit-info {
    justify-content: end !important;
}

.el-backtop {
    --el-backtop-text-color: var(--vp-c-brand) !important;
}

.content{
    -ms-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    /* -webkit-user-select: none !important; */
    /* user-select: none; */
}