.outline-link:hover,
.outline-link.active {
    color: var(--vp-c-brand) !important;
}

.edit-info {
    justify-content: end !important;
}

.el-backtop {
    --el-backtop-text-color: var(--vp-c-brand) !important;
}

.content {
    -ms-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    /* -webkit-user-select: none !important; */
    /* user-select: none; */
}

/* 滚动条宽度 */
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

/* 滚动条轨道颜色 */
::-webkit-scrollbar-track {
    background-color: #fff;
    ;
}

/* 滚动条颜色 */
::-webkit-scrollbar-thumb {
    background-color: var(--vp-c-brand);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;

}

/* 鼠标移动到滚动条上后显示的颜色 */
::-webkit-scrollbar-thumb:hover {
    background-color: #000
}

/* 点击时滚动条的颜色 */
::-webkit-scrollbar-thumb:active {
    background-color: #000
}
/* 
.fancybox__container {
    overflow: hidden scroll !important;
} */